#left {       /* line 40 on connect.html needs an independent scroll feature */
  height:100%;
  position: absolute;
  overflow-y: scroll; 
}

/* #left-container {
  position: absolute;
} */
/* #right-container {
  height: 100%;
  position: fixed;
  width: inherit; 
}

 */
