#map {
    height: 100vh;
    width: 100vh;
}

body {
    padding: 0;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template: 'head' 'map' 1fr / auto;
  }
  
  header {
    grid-area: head;
  }
  
  main {
    grid-area: map;
  }
  
  nav {
    display: flex;
    background: rgb(88, 89, 91);
  }
  
  nav p, nav a, nav button {
    display: inline-block;
    color: white;
    padding: 0;
    margin: 0.5em;
    font-size: 1em;
    font-family: inherit;
  }
  
  nav a, nav button {
    background: transparent;
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid white;
    text-decoration: none;
  }
  
  nav a:hover, nav button:hover {
    cursor: pointer;
    border-bottom: 0;
    color: yellow;
  }
  
  .map, #map {
    width: 100vmax;
    height: 100vh;
  }
  