body {
    background-color: black;
}

#profName {
    position: absolute;
    bottom: 0;
    left: 0;
}

#avg_ratio {
/* <length> values */
font-size: 5em;
text-transform: uppercase;
}

#ratio {
    /* <length> values */
    font-size: 2em;
    text-transform: uppercase;
    left: 0;
    }

#ratio_an {
    padding: 30px;
    }
    
#ratio_desc {
    padding: 20px;
    }

.center {
    margin-left: auto;
    margin-right: auto;
  }


.text-center {
    text-align: center;
}

#profile_back {
    background: rgb(0,120,42);
    background: linear-gradient(90deg, rgba(0,120,42,1) 0%, rgba(28,45,14,1) 25%);   
}

.card {
    border: none;
    background: black;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

div#photo_id {
    height:160px;
    vertical-align: bottom;
    display: tabel-cell;
}

.y-scroll {
    overflow-y: scroll;
}


.borderless td, .borderless th {
    border: none;
}