{% extends 'base.html' %}

{% block title %} My Details {% endblock %}

{% block body %}

  <div class = "container">

    <document.getElementById>
    
    <div class="container">
      <h2>Bookmarked Profiles</h2>  
        <div class="container">
        </div> 
      <ul>
          {% for bookmark in bookmarks %}
            <li> {{ bookmark.user_id }} -- {{ bookmark.bookmarked_user_id }}</li>
          {% endfor %}
      </ul>
    </div>
    <div class="container">
      <h2>Top Artists of Bookmarked Profiles</h2>  
        <div class="container">
        </div> 
      <ul>
          {% for artist in all_artists %}
            <li> {{ artist.artist_id }} -- {{ artist.artist_name }} -- {{ artist.user_id }}</li>
          {% endfor %}
      </ul>
    </div>
  </div>
  <a href="/connect" class="btn btn-primary my-2">Back to Connect Map</a>

 {% endblock %}

