{% extends 'base.html' %}

{% block head %}

    <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
        body {
            background-color: #000000;
            font-family: Arial, Helvetica, sans-serif;
        }
        #title {
            font-size: 3em;
            padding: 15px 32px;
        }
    </style>

{% endblock %}

{% block title %} My Details {% endblock %}

{% block body %}

  <div class = "container">

    <document.getElementById>
    
    <div class="container m-6 px-5 py-5">
        <h2 id="title" class="text-center text-white">Playlist Generator</h2>  
        <img width ="100%" src="static/img/discoverability.png">
        <div class="justify-content-between align-items-center text-center btn-block">
        <div class="container bg-dark">
                <div class="btn-group align-items-center" role="group">
                    <a href="/create-playlist/high" class="button btn-primary btn-block my-2">Create Playlist Based High Compatibility</a>
                    <a href="/create-playlist/med" class="button btn-primary btn-block my-2">Create Playlist Based Medium Compatibility</a>
                    <a href="/create-playlist/low" class="button btn-primary btn-block my-2">Create Playlist Based Low Compatibility</a>
                </div>
        <div class="row bg-dark text-white">
            <div class="col-4 text-center text-white">
                <h3 class="pt-4"> High Similarity </h3> <h5 class="pb-4">(based on Top Tracks)</h5>
                {% for user, details in high_bookmarks.items() %}
                    <div class="row text-center">
                        <div class="card bg-dark mb-4 box-shadow">
                            <img class="card-img-top text-center shadow center rounded-circle" width="100%" height="100%" src="{{ details[2] }}" alt="{{ details[0] }}'s profile image"  focusable="true">
                            <div class="card-body text-center">
                                <h4>{{ details[0] }}</h4>
                                <div class="justify-content-between align-items-center btn-block">
                                    <div class="btn-group align-items-center" role="group">
                                        <a href="/users/{{ user.user_id }}" class="button btn-primary m-6 btn-block my-2">Connectify Profile</a>
                                        <a href="/bookmark/{{ user.user_id }}/unbookmark" class="button btn-primary btn-block my-2">Unbookmark User</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-4 text-center bg-dark text-white">
                <h3 class="pt-4"> Medium Similarity </h3> <h5 class="pb-4">(based on Top Tracks)</h5>
                {% for user, details in med_bookmarks.items() %}
                    <div class="row text-center">
                        <div class="card bg-dark mb-4 box-shadow">
                            <img class="card-img-top text-center shadow center rounded-circle" width="100%" height="100%" src="{{ details[2] }}" alt="{{ details[0] }}'s profile image" preserveAspectRatio="xMidYMid slice" focusable="true">
                            <div class="card-body text-center">
                                <h4>{{ details[0] }}</h4>
                                <div class="justify-content-between align-items-center btn-block">
                                    <div class="btn-group align-items-center" role="group">
                                        <a href="/users/{{ user.user_id }}" class="button btn-primary m-6 btn-block my-2">Connectify Profile</a>
                                        <a href="/bookmark/{{ user.user_id }}/unbookmark" class="button btn-primary btn-block my-2">Unbookmark User</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-4 text-center bg-dark text-white">
                <h3 class="pt-4"> Low Similarity </h3> <h5 class="pb-4">(based on Top Tracks)</h5>
                {% for user, details in low_bookmarks.items() %}
                    <div class="row text-center">
                        <div class="card bg-dark mb-4 box-shadow">
                            <img class="card-img-top text-center shadow center rounded-circle" width="100%" height="100%" src="{{ details[2] }}" alt="{{ details[0] }}'s profile image" preserveAspectRatio="xMidYMid slice" focusable="true">
                            <div class="card-body text-center">
                                <h4>{{ details[0] }}</h4>
                                <div class="justify-content-between align-items-center btn-block">
                                    <div class="btn-group align-items-center" role="group">
                                        <a href="/users/{{ user.user_id }}" class="button btn-primary m-6 btn-block my-2">Connectify Profile</a>
                                        <a href="/bookmark/{{ user.user_id }}/unbookmark" class="button btn-primary btn-block my-2">Unbookmark User</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row bg-dark text-white">   
            <h3> No Similarity </h3> <h5>(based on Songs)</h5>
            <div class="album py-5 bg-dark">
            <div class="row text-center">
                    {% for user, details in nada_bookmarks.items() %}
                        <div class="row text-center">
                            <div class="card bg-dark mb-4 box-shadow">
                                <img class="card-img-top text-center shadow center rounded-circle" width="100%" height="100%" src="{{ details[2] }}" alt="{{ details[0] }}'s profile image" preserveAspectRatio="xMidYMid slice" focusable="true">
                                <div class="card-body text-center">
                                    <h4>{{ details[0] }}</h4>
                                    <div class="justify-content-between align-items-center btn-block">
                                        <div class="btn-group align-items-center" role="group">
                                            <a href="/users/{{ user.user_id }}" class="button btn-primary m-6 btn-block my-2">Connectify Profile</a>
                                            <a href="/bookmark/{{ user.user_id }}/unbookmark" class="button btn-primary btn-block my-2">Unbookmark User</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">

</div>
 

   <a href="/connect" class="button btn-primary btn-block my-2">Back to Connect Map</a>
</div>
</div>
</div>
 {% endblock %}

