{% extends 'base.html' %}

{%block title %}Connect{% endblock %}


{% block head %}
  <link rel="stylesheet" href="/static/css/maps.css">
  <link rel="stylesheet" href="/static/css/users.css">
  <link rel="stylesheet" href="/static/css/connect.css">

  <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/static/js/mapStyles.js"></script>
  <script src="/static/js/connect.js"></script>
  <script
    async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBZz8jsm-G3NivDaxa8PwlDRfZhIyJ4Q8&callback=initMap">
  </script>
{% endblock %}

{% block body %}
<body>

    <main>
        <div class="row">
            <div class="col-lg-4" id="left-container">
                <div class="container-fluid">
                    <section class="py-5 text-center container">
                        <div class="row py-lg-5">
                            <div class="col-lg-10 col-md-12 mx-auto text-center">
                                <h1 class="fw-light">Connect Locally</h1>
                                <p class="lead text-muted">
                                  Connect with other music heads near by. Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.
                                </p>
                                <p>
                                    <a href="#" class="btn btn-primary my-2">Locate Me</a>
                                    <a href="#" class="btn btn-primary my-2">Update my Info</a>
                                </p>
                            </div>
                        </div>
                    </section>
                    <div class="album py-5 bg-light">
                        <div class"container">
                          {%for user in users%}
                            <div class="row row-cols-1 g-3">
                                <div class="col">
                                    <div class="card shadow-sm">
                                        <img class="card-img-top text-center" width="100%" height="225" src="https://i.guim.co.uk/img/media/dd3882c4ad0fd11a14cffc7e5edaabe5ce8a8b53/0_85_1077_646/master/1077.jpg?width=700&quality=85&auto=format&fit=max&s=c906598d7b435814a7e49a5ee4779c2f" alt="{{ user.name }}'s profile image" preserveAspectRatio="xMidYMid slice" focusable="true">
                                        <div class="card-body text-center">
                                            <p class"card-text text-center">
                                                <h4>{{ user.name }}</h4>
                                                <h5>{{ user.s_id }}</h5>
                                            </p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group text-center">
                                                    <a href="https://open.spotify.com/user/nicojocel?si=fd37a97bcc834b3c" target="_blank" class="btn btn-primary my-2">Spotify Profile</a>
                                                    <a href="/users/{{ user.user_id }}" class="btn btn-primary my-2">Connectify Profile</a>
                                                    {%if current_user.has_existing_bookmarked_user(user)%}
                                                        <a href="/bookmark/{{ user.user_id }}/unbookmark" class="btn btn-primary my-2">unbookmark</a>
                                                        {% else %}
                                                            <a href="/bookmark/{{ user.user_id }}/bookmark" class="btn btn-primary my-2">bookmark</a>
                                                        {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          {%endfor%}
                            
                        </div>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-8" id="right-container">
                    <section class="map">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}



