
<body>

    {% for msg in get_flashed_messages() %}
                <p class="flash-msg">
                {{ msg }}
                 </p>
              {% endfor %}

{% block body %}
  <h1>Welcome!</h1>

  <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>
    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit" id="submit">
    </p>
  </form>


  <h2>Navigation</h2>
  <ul>
    <li><a href="/create">Don't have an account yet? Click here!</a></li>
  </ul>

{% endblock %}

</body>