{% extends 'base.html' %}

{% block title %} My Details {% endblock %}

{% block body %}

<h2> </h2>

<document.getElementById>

<h1>User Details</h1>  

  {% for key, val in sp_user_info().items() %}
    <dt>{{ key }} :::: {{ val }}</dt>
  {% endfor %}
  <dt>  </dt>
  <dt> ----------- :::: --------- </dt>
  <dt>  </dt>


  <h1>Playlists</h1>

  <ul>
    {% for playlist in playlists %}
      <li>
        <a href="/playlists/{{ playlist.play_url }}">
          {{ playlist.playlist_name }}
          {{ playlist.playlist_desc }}
        </a>
      </li>
    {% endfor %}
    
  </ul>

<h1>Top Tracks</h1>

  <ul>
    {% for track in top_tracks %}
      <li>
        <a href="/tracks/{{ track.sp_track_id }}">
          {{ track.track_name }}
        </a>
      </li>
    {% endfor %}
    
  </ul>

 <h1>Top Artists</h1>

  <ul>
    {% for artist in top_artists %}
      <li>
        <a href="/artists/{{ artist.sp_artist_id }}">
          {{ artist.artist_name }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <p> ***************** in progress ******************</p>


{% endblock body %}
